
body {
	font-family: 'Shadows Into Light';
}
/*Голова сайта*/
.head {
	width: 100%;
	margin-bottom: 30px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	background-image: url(images/task.png);
	background-position: center;
background-repeat: no-repeat;

}
.logo img {
  width: 220px;
  height: 200px;
  margin-left: 50px;
}
.info img {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 50px;
	top: 65px;
}
/*Подсказка при наведении на информацию*/
.info {
    display: inline-block;
   }

   .info:hover::after {
    content: attr(data-title);
    position: absolute;
    top: 140px;
    right: 70px;
    z-index: 1;
    background: rgba(255,255,230,0.9); 
    font-size: 11px;
    padding: 5px 10px;
    border: 1px solid #333;
   }

/*Форма добавления задания*/
.add-task {
	width: 500px;
	height: auto;
	margin-left: 50px;
	margin-bottom: 50px;
}
.add-task p {
	margin: 0;
	font-weight: bold; font-size: 80%;
}
.add-task input{
	height: 37px; 
	width: 70%; 
	border-radius: 7px; 
	border: 1px solid #585757;
}
.add-task button{
	height: 40px; 
	border-radius: 7px; 
	margin-left: 50px; 
	color: white; 
	background-color: #585757; 
	border: 0;

}
.add-task button:hover{
	color:#585757;
	background-color:white;
	border: 1px solid #585757;
}
.task {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	margin-left: 10px;
	margin-right: 10px;
}
.task img{
width: 30px;
height: 30px;
}
#gg {
   border: 2px dashed #BCBABA;
   height: auto;
   width: 420px;
}
.task1, .task2, .task3 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.task #topic {
   font-size: 250%;
   line-height: 0.1;
   font-weight: bold;
   text-align: center;
}
/* Серая обводка*/
	.task #sp {
 	color: grey;
	} 
/*Общие стили для листочков с заданиями */
#tsk {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 300px;
	height: 300px;
	background-color: #80F869;
	margin-bottom: 50px;
	padding-right: 15px;
	padding-left: 15px;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	position: relative;
}
#ftp {
	font-size: 120%;
	font-weight: bold;
	line-height: 0.1;
}
.task2 p {
	line-height: 0.1;
}
.task3 p {
	line-height: 0.1;
}
/*Кнопки под листочками*/
.img1 {
	position: absolute;
	top: 260px;
	left: 260px;
}
.img2, .img3 {
	position: absolute;
	top: 260px;
	left: 290px;
}
/*Футер*/
 .footer {
 	margin: 50px 50px 0 50px;
 	font-size: 80%;
 	line-height: 0.6;
 	border-top: 1px solid  #BCBABA;
 }
